.header {
  background: #111;
  color: white;
  padding: 15px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}