@import url("header.css");
@import url("hero.css");
@import url("course.css");
@import url("testimonial.css");
@import url("form.css");
@import url("footer.css");

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}